<!--Ok, can you modify this template to include the hotel objects parts in the right places, for instance,
the hotels images go in the top image section for the hotel and hotel.room.image goes into the rooms images.
what we are trying to do is store all the images in the object properties for hotel and room, the nusing them to populate the page

the booking modals are located in partials/book-modal

have a look at how i did the search page and routes/index.html to get an idea of what to do. otherwise just ask me :)-->

<% include partials/header %>
<% include partials/navbar %>
<% include partials/sign-in-modal %>
<% include partials/book-modal %>

<section id="hotel-1">

    <!-- Hotel name header description & pictures-->
    <section id="hotelSection">
        <header class="hotelName">
            <h1><%= thisHotel.name %></h1>
        </header>

        <div class="topSection">

            <div class="hotelDescription">
                <p><%= thisHotel.description %></p>
            </div>

            <div class="hotelPictures">
                <a href="/images/<%= thisHotel.images[0] %>" data-lightbox="HotelPics">
                    <img src="/images/<%= thisHotel.images[0] %>" alt="Hotel Picture 1" class="innerPic1">
                </a>
                <a href="/images/<%= thisHotel.images[1] %>" data-lightbox="HotelPics">
                    <img src="/images/<%= thisHotel.images[1] %>" alt="Hotel Picture 2" class="innerPic2">
                </a>
                <a href="/images/<%= thisHotel.images[2] %>" data-lightbox="HotelPics">
                    <img src="/images/<%= thisHotel.images[2] %>" alt="Hotel Picture 3" class="innerPic3">
                </a>
            </div>

        </div>
    </section>

    <!-- Hotel rooms section -->
    <section class="roomSection">

        <div id="roomSectionGrid">
            <h2>Rooms</h2>
            <button id="reviewBtn">Reviews</button>
        </div>
            
        <!--changed up the code a bit but, i need you to mak room1 room2 etc dynamic in the loop-->
        <% thisHotel.rooms.forEach(function(room) { %>
            <div class="roomGrid" id="room1">
            <div class=roomName>
                <!-- didnt add the [0] after room bcuz it gives an undefined error -->
                <h3><%= room.name %></h3>
            </div>
            <div class="roomPictures">
                <a href="/images/<%= room.images[0] %>" data-lightbox="Room1Pics">
                    <img src="/images/<%= room.images[0] %>" alt="Room Picture 1" class="innerRPic1">
                </a>
                <a href="/images/<%= room.images[1] %>" data-lightbox="Room1Pics">
                    <img src="/images/<%= room.images[1] %>" alt="Room Picture 2" class="innerRPic2">
                </a>
            </div>

            <div class="roomSize">
                    <h3>Room Size</h3>
                </div>
                <!-- Same here. Didnt add [0] -->
                <div class="roomDescription">
                    <p><%= room.description %></p>
                </div>
                <div class="bookCell">
                    <button class="bookBtn">Book</button>
                </div>
            </div>
        <% }); %>

        </div>-->
        <!-- The Reviews Section -->
        <section id="Reviews">
            <div class="username">Username</div>
            <div class="userHistory">Rooms stayed in: </div>

            <div class="commentSection">Reviews go here
                <button class="uploadBtn">Uploaded Pictures</button>
            </div>
        </section>
    </section>

</section>

<script src="/lightbox/lightbox.js"></script>
<% include partials/footer %>
