<% include partials/header %>
<% include partials/bgSearch %>
<% include partials/navbar %>
<% include partials/searchbar %>
<% include partials/sign-in-modal %>



<div id="search">
    <article class="homeResults">

        <section id="results">

            <header class="resultHeader search-result-header">
                <h3>Results</h3>
                <h3 id="map-view">
                    <a href="#" class="map-list-toggle">Map View</a>
                </h3>
                <h3 id="list-view">
                    <a href="#" class="map-list-toggle">List View</a>
                </h3>
            </header>

            <main class="homeResultGrid">

                <% hotels.forEach(function(hotel) { %>
                    
                    <div class="hotelRoomThumbnail">
                        <a href="/hotels/<%= hotel.id %>">
                                <div class="thumbImg">
                                </div> 
                        </a>
                        <div class="thumb-flex room-name-thumb">
                            <p><%= hotel.name %></p>
                            <span class="favThis">
                                <i class="fas fa-heart"></i>
                            </span>
                        </div>
                        <div class="thumb-flex">
                            <a href="#">
                                <i class="fas fa-compass fa-lg"></i> <%= hotel.location %></a>
                            <a href="#" class="thumb-price"><%= hotel.price %></a>
                        </div>
                    </div>
                <% }); %>
                


            </main>

            <main class="map">
                <section id="map">

                </section>
            </main>
        </section>

    </article>
</div>

<script>
    var hoteru = <%- JSON.stringify(hotels) %>;
    
    console.log(hoteru[0]);
</script>

<script>
    var map;
    console.log(hoteru);
    function initMap() {

        var latitude = hoteru[0].lat;
        console.log(latitude); 
        var longitude = hoteru[0].lng;
        console.log(longitude);  
        var hotel = {lat: latitude, lng: longitude};

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: hotel
        });

        hoteru.forEach(function(hotel) {
            var latitude = hotel.lat;
            console.log(latitude); 
            var longitude = hotel.lng;
            var hotel = {lat: latitude, lng: longitude}; 

            var marker = new google.maps.Marker({
            position: hotel,
            map: map,
            title: hotel.name,
            animation: google.maps.Animation.DROP
        });
            
        });    
      
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRpaCamDo5U3yCs143HVVpDXEjgfvCz6g&callback=initMap">
</script>

<% include partials/footer %>